@import "tailwindcss";

@theme {
   --color-green-main: #20271d;
   --color-green-hover: #303d2c;
   --color-green-active: #5e9149;
   --color-green-button: #7cad39;
   --color-green-title: #374e30;
   --color-green-secondary: #d2e5bd;
   --color-green-hover: rgba(131, 183, 60, 0.3);
   --color-white-main: #f9f9f9;
   --color-red-main: #b92f03;
   --color-black-main: #323232;
   --color-black-search: #373737;
   --color-black-divisor: #d9d9d9;
   --color-gray-main: #818181;
   --color-gray-secondary: #c8c8c8;
   --color-gray-tertiary: #757575;
   --tracking-tightest: -0.011em;

   --animate-slide-in: slideIn 0.1s ease-out forwards;
}

@layer utilities {
   @keyframes slide-in {
      from {
         transform: translateX(100%);
      }
      to {
         transform: translateX(0);
      }
   }

   .animate-slide-in {
      animation: slide-in 0.3s ease-out forwards;
   }

   @keyframes fade-in {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }
   @keyframes fade-out {
      from {
         opacity: 1;
      }
      to {
         opacity: 0;
      }
   }

   .animate-fade-in {
      animation: fade-in 0.3s ease-out forwards;
   }
   .animate-fade-out {
      animation: fade-out 0.3s ease-in forwards;
   }
}

body {
   background-color: var(--color-green-main);
   color: var(--color-black-main);
}
