@import "tailwindcss";

@theme {
   --color-green-main: #20271d;
   --color-green-hover: #303d2c;
   --color-green-active: #5e9149;
   --color-green-button: #7cad39;
   --color-white-main: #f9f9f9;
   --color-red-main: #b92f03;
   --color-black-main: #323232;
   --color-black-secondary: #818181;
   --tracking-tightest: -0.011em;
}

body {
   background-color: var(--color-green-main);
}
